<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
</head>
<body style="background-color: #ffffff">
<table class="table table-bordered table-striped">
    <thead class="thin-border-bottom">
    <tr>
        <th>赛事名称</th>
        <th>阶段</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>比赛地点</th>
        <th>参赛人数</th>
        <th>备注</th>
    </tr>
    </thead>

    <tbody>
    <notempty name="list">
        <volist name="list" id="vo">
            <tr>
                <td>{$vo.name}</td>
                <td>{$vo.stage|default='-'}</td>
                <td>{$vo.start_time|time_format='m-d','待定'}</td>
                <td>{$vo.end_time|time_format='m-d','待定'}</td>
                <td>{$vo.place|default='待定'}</td>
                <td>{$vo.athlete_num}</td>
                <td>{$vo.remark}</td>
            </tr>
        </volist>
        <else/>
        <td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
    </notempty>
    </tbody>
</table>
<include file="Public/foot"/>
<script type="text/javascript">
    window.print();
</script>
</body>
</html>
