<div class="tabbable">
    <ul class="nav nav-tabs padding-16 tab-size-bigger tab-space-1">
        <volist name=":parse_config_attr($model['field_group'])" id="group">
            <li <eq name="key" value="1">class="active"</eq>><a data-toggle="tab" href="#tab{$key}">{$group}</a></li>
        </volist>
    </ul>
    <div class="tab-content  padding-24">
        <!-- 表单 -->
        <volist name=":parse_config_attr($model['field_group'])" id="group">
            <div id="tab{$key}" class="tab-pane <eq name="key" value="1">in active</eq> tab{$key}">
            <volist name="fields[$key]" id="field">
                <if condition="$field['is_show'] == 1 || $field['is_show'] == 2">
                    <div class="form-group">
                        <label class="item-label">{$field['title']}:<span class="check-tips"><notempty name="field['remark']">（{$field['remark']}）</notempty></span></label>
                        <div class="controls">
                            <switch name="field.type">
                                <case value="num">
                                    <input type="text" class="text input-mid" name="{$field.name}" value="{$field.value}">
                                </case>
                                <case value="string">
                                    <input type="text" class="text input-large" name="{$field.name}" value="{$field.value}">
                                </case>
                                <case value="textarea">
                                    <label class="textarea input-large">
                                        <textarea name="{$field.name}">{$field.value}</textarea>
                                    </label>
                                </case>
                                <case value="date">
                                    <input type="text" name="{$field.name}" class="text input-mid date" value="" placeholder="请选择日期" />
                                </case>
                                <case value="datetime">
                                    <input type="text" name="{$field.name}" class="text input-mid time" value="" placeholder="请选择时间" />
                                </case>
                                <case value="bool">
                                    <select name="{$field.name}">
                                        <volist name=":parse_field_attr($field['extra'])" id="vo">
                                            <option value="{$key}" <eq name="field.value" value="$key">selected</eq>>{$vo}</option>
                                        </volist>
                                    </select>
                                </case>
                                <case value="select">
                                    <select name="{$field.name}">
                                        <volist name=":parse_field_attr($field['extra'])" id="vo">
                                            <option value="{$key}" <eq name="field.value" value="$key">selected</eq>>{$vo}</option>
                                        </volist>
                                    </select>
                                </case>
                                <case value="radio">
                                    <volist name=":parse_field_attr($field['extra'])" id="vo">
                                            <input type="radio" value="{$key}" name="{$field.name}">{$vo}
                                    </volist>
                                </case>
                                <case value="checkbox">
                                    <volist name=":parse_field_attr($field['extra'])" id="vo">
                                            <input type="checkbox" value="{$key}" name="{$field.name}[]">{$vo}
                                    </volist>
                                </case>
                                <case value="editor">
                                    <div class="controls">
                                        <script id="{$field.name}" name="{$field.name}" type="text/plain">
                                                      {$data[$field['name']]}
                                        </script>
                                    </div>
                                    <script>
                                        $(function(){
                                            !function(){
                                                UE.getEditor('{$field.name}',{
                                                    serverUrl :"{:U('File/ueditor')}"
                                                });
                                            }();
                                        })
                                    </script>
                                </case>
                                <case value="picture">
                                    <div class="controls">
                                        <div class="upload-img-box">
                                            <notempty name="data[$field['name']]">
                                                <div class="upload-pre-item"><img src="{$data[$field['name']]|get_cover='path'}"/></div>
                                            </notempty>
                                        </div>
                                        <input type="file" id="upload_picture_{$field.name}">
                                        <input type="hidden" name="{$field.name}" id="cover_id_{$field.name}"/>
                                    </div>
                                    <script type="text/javascript">
                                        //上传图片
                                        /* 初始化上传插件 */
                                        $("#upload_picture_{$field.name}").uploadify({
                                            "height"          : 30,
                                            "swf"             : "__PUBLIC__/vendor/uploadify/uploadify.swf",
                                            "fileObjName"     : "download",
                                            "buttonText"      : "上传图片",
                                            "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                            "width"           : 120,
                                            'removeTimeout'	  : 1,
                                            'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
                                            "onUploadSuccess" : uploadPicture{$field.name},
                                        'onFallback' : function() {
                                            alert('未检测到兼容版本的Flash.');
                                        }
                                        });
                                        function uploadPicture{$field.name}(file, data){
                                            var data = $.parseJSON(data);
                                            var src = '';
                                            if(data.status){
                                                $("#cover_id_{$field.name}").val(data.id);
                                                src = data.url || '__ROOT__' + data.path;
                                                $("#cover_id_{$field.name}").parent().find('.upload-img-box').html(
                                                        '<div class="upload-pre-item"><img width="200"  height="200" src="' + src + '"/></div>'
                                                );
                                            } else {
                                                errorAlert(data.msg);
                                            }
                                        }
                                    </script>
                                </case>
                                <case value="file">
                                    <div class="controls">
                                        <input type="file" id="upload_file_{$field.name}" >
                                        <input type="hidden" name="{$field.name}" value="{$data[$field['name']]}"/>
                                        <div class="upload-box">
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        //上传文件
                                        /* 初始化上传插件 */
                                        $("#upload_file_{$field.name}").uploadify({
                                            "height"          : 30,
                                            "swf"             : "__PUBLIC__/vendor/uploadify/uploadify.swf",
                                            "fileObjName"     : "download",
                                            "buttonText"      : "上传附件",
                                            "uploader"        : "{:U('File/upload',array('session_id'=>session_id()))}",
                                            "width"           : 120,
                                            'removeTimeout'	  : 1,
                                            "onUploadSuccess" : uploadFile{$field.name},
                                        'onFallback' : function() {
                                            alert('未检测到兼容版本的Flash.');
                                        }
                                        });
                                        function uploadFile{$field.name}(file, data){
                                            var data = $.parseJSON(data);
                                            if(data.status){
                                                var name = "{$field.name}";
                                                $("input[name="+name+"]").val(data.data);
                                                $("input[name="+name+"]").parent().find('.upload-box').html(
                                                        "<div class=\"upload-pre-file\"><i class=\"icon-paper-clip\"></i><span>" + data.msg + "</span></div>"
                                                );
                                            } else {
                                                errorAlert(data.msg);
                                            }
                                        }
                                    </script>
                                </case>
                                <case value="color">
                                    <select id="colorpicker-{$field.name}" name="{$field.name}" class="hide" style="display: none;">
                                        <volist name="Think.config.SYSTEM_COLOR" id="cc">
                                            <option value="{$cc}">{$cc}</option>
                                        </volist>
                                    </select>

                                    <div class="dropdown dropdown-colorpicker open">
                                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span
                                            class="btn-colorpicker btn-colorpicker-{$field.name}" style="background-color:#555"></span></a>
                                        <ul class="dropdown-menu dropdown-caret">
                                            <volist name="Think.config.SYSTEM_COLOR" id="cc">
                                            <li><a class="colorpick-btn colorpick-btn-{$field.name}" href="javascript:;" style="background-color:{$cc};"
                                                   data-color="{$cc}"></a></li>
                                            </volist>
                                        </ul>
                                    </div>
                                    <script type="text/javascript">
                                        $(function(){
                                            $('#simple-colorpicker-{$field.name}').ace_colorpicker();
                                            !function(){
                                                $('.colorpick-btn-{$field.name}').click(function(){
                                                    var color = $(this).data('color');
                                                    $('.colorpick-btn-{$field.name}').removeClass('selected');
                                                    $(this).addClass('selected');
                                                    $('#colorpicker-{$field.name}').val(color);
                                                    $('.btn-colorpicker-{$field.name}').css('background-color',color);
                                                });
                                            }();
                                        });
                                    </script>
                                </case>
                                <case value="simpleEditor">
                                    <div class="widget-box">
                                        <div class="widget-header widget-header-small  header-color-blue">
                                        </div>
                                        <div class="widget-body">
                                            <div class="widget-body-inner" style="display: block;">
                                                <div class="widget-main">
                                                    <div class="wysiwyg-editor" data-name="{$field.name}"  id="editor-{$field.name}" contenteditable="true"></div>
                                                </div>
                                            </div>
                                         </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(function(){
                                            $('#editor-{$field.name}').css({'height':'200px'}).ace_wysiwyg({
                                                toolbar_place: function(toolbar) {
                                                    return $(this).closest('.widget-box').find('.widget-header').prepend(toolbar).children(0).addClass('inline');
                                                },
                                                toolbar:
                                                        [
                                                            'bold',
                                                            'strikethrough',
                                                            null,
                                                            'insertunorderedlist',
                                                            'insertorderedlist',
                                                            null,
                                                            'justifyleft',
                                                            'justifycenter',
                                                            'justifyright'
                                                        ],
                                                speech_button:false
                                            });
                                        });
                                      </script>
                                </case>
                                <case value="place">
                                    <div id="city_china_val" data-name="{$field.name}" class="city_field">
                                            <select class="province cxselect" data-first-title="选择省"></select>
                                            <select class="city cxselect"  data-first-title="选择市" ></select>
                                            <select class="area cxselect"  data-first-title="选择地区" ></select>
                                    </div>
                                    <script type="text/javascript">
                                        $(function(){
                                            $.cxSelect.defaults.url = '__PUBLIC__/static/cityData.min.json';
                                            $('#city_china').cxSelect({
                                                selects: ['province', 'city', 'area']
                                            });

                                            $('#city_china_val').cxSelect({
                                                selects: ['province', 'city', 'area'],
                                                nodata: 'none'
                                            });
                                        });
                                    </script>
                                </case>
                                <default/>
                                <input type="text" class="text" name="{$field.name}" value="">
                            </switch>
                        </div>
                    </div>
                </if>
            </volist>
    </div>
    </volist>
    <div class="form-group">
        <button class="btn btn-sm btn-primary  ajax-post " type="submit"  target-form="form-horizontal">确 定</button>
        <a class="btn btn-sm" onclick="javascript:history.back(-1);return false;">返 回</a>
    </div>
</div>
</div>