<extend name="Public/base"/>
<block name="title">
    运动员
</block>
<block name="content">
    <div class="clearfix">
        <div class="btn-group">
            <Button class="btn btn-sm btn-primary" id="print">打印所选运动员资料</Button>
        </div>
        <div class="pull-right">
            <a href="#" id="adv_show">
                <i class="icon-chevron-up"></i>
            </a>
            <span class="input-icon">
                <input type="text" placeholder="搜索姓名.按回车搜索" autocomplete="off" id="search">
                <i class="icon-search"></i>
			</span>
        </div>
    </div>
    <div class="panel panel-default" id="adv_search" style="display:none">
        <form class="search-form" method="post" action="{:U()}">
        <div class="panel-heading clearfix">
            <div class="pull-right">
                <Button class="btn btn-sm btn-primary" type="submit" target-form="search-form">搜索</Button>
            </div>
        </div>
        <div class="panel-body table-responsive">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <td>姓名：<input type="text" name="query_name" ></td>
                        <td>性别：
                            <select name="query_gender">
                                <option value="__whatever__">不限</option>
                                <option value="0">女</option>
                                <option value="1">男</option>
                            </select>
                        </td>
                        <td>技术等级：
                            <select name="query_technicalGrade">
                                <option value="__whatever__">不限</option>
                                <volist name=":C('TECHNICALGRADE')" id="c">
                                    <option value="{$key}">{$c}</option>
                                </volist>
                            </select>
                        </td>
                        <td>运动项目：
                            <select name="query_sports">
                                <option value="__whatever__">不限</option>
                                <volist name=":get_sports()" id="c">
                                    <option value="{$key}">{$c}</option>
                                </volist>
                            </select>
                        </td>
                        <td>运动队：
                            <select name="query_team">
                                <option value="__whatever__">不限</option>
                                <volist name=":get_team()" id="c">
                                    <option value="{$key}">{$c}</option>
                                </volist>
                            </select>
                        </td>
                        <td>每页显示数量：
                            <select name="r">
                                <option value="10">10</option>
                                <option value="20">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="400">400</option>
                            </select>
                        </td>
                    </tr>
                </table>
                </div>
        </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="center">
                    <label>
                        <input type="checkbox" class="ace check-all">
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>姓名
                </th>
                <th>性别</th>
                <th>运动项目</th>
                <th>所属运动队</th>
                <th>运动技术等级</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="list">
                <volist name="list" id="vo">
                    <tr>
                        <td class="center">
                            <label>
                                <input type="checkbox" class="ids ace" name="id[]" value="{$vo.uid}">
                                <span class="lbl"></span>
                            </label>
                        </td>
                        <td><a href="javascript:;" class="info" data-name="{$vo.name}" data-id="{$vo.uid}">{$vo.name}</a></td>
                        <td><eq name="vo.gender" value="0">
                            女
                            <else/>
                            男
                                </eq>
                        </td>
                        <td>{$vo.sports|get_sports='name'}</td>
                        <td>{$vo.team|get_team}</td>
                        <td>{:CC('TECHNICALGRADE',$vo['technicalGrade'])}</td>

                        <td><a href="javascript:;" class="winopen" data-width="800" data-url="{:U('info?method=comInfo&id='.$vo['uid'])}">参赛信息</a> <a class="winopen" href="javascript:;" data-width="600" data-url="{:U('info?method=physical&id='.$vo['uid'])}" target="_blank">体能信息</a></td>
                    </tr>
                </volist>
                <else/>
                <td colspan="6" class="text-center"> aOh! 暂时还没有数据! </td>
            </notempty>
            </tbody>
        </table>
        <!-- 分页 -->
        <div class="page">
            {$_page|default=''}
        </div>
    </div>
</block>
<block name="hide">
    <div id="user_info" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="group_check-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" style="text-align:center"></h4>
                </div>
                <div class="modal-body">
                    <div style="text-align: center">
                        <i class="icon-spinner icon-spin orange bigger-300"></i>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm ajax-post " id="print_single">打印</button>
                    <button class="btn btn-sm" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
<include file="js"/>
</block>