<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
</head>
<body style="background-color: #ffffff">
<div class="panel panel-default " style="width: 100%">
    <div class="panel-heading" style="position: fixed;width: 100%;z-index: 999">
        <div class="pull-left">
            <a href="{:U('printInfo?method=physical&id='.$uid)}" target="_blank" class="btn btn-sm btn-primary">打印</a>
            <a onclick="myclose();" class="btn btn-sm btn-primary">关闭</a>
        </div>
        <h4 class="text-center pull-right">{$meta_title}</h4>
    </div>
    <div class="panel-body" style="margin-top: 40px">
        <div class="table-responsive">
            <table class="table table-striped  ">
                <thead>
                <tr>
                    <th>代码</th>
                    <th>名称</th>
                    <th>单位</th>
                    <th class="text-center">值</th>
                </tr>
                </thead>
                <tbody>
                <notempty name="nodeList">
                    <volist name="nodeList" id="node">
                        <tr class="level" data-level="{$node['level']}" >
                            <td>{$node.code}</td>
                            <td>
                                <present name="node.children">
                                    <div style="display: inline-block" class=" node-folder" data-status='open'><i class="icon-minus smaller-100"></i></div>
                                </present>
                                <for start="0" end="$node.level">
                                    <if condition="$i eq $node['level']-1">
                                        <if condition="$node['last']">
                                            &nbsp;|__
                                            <else/>
                                            |--
                                        </if>
                                        <else/>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </if>
                                </for>
                                {$node.name}</td>
                            <td>{$node.unit|default=''}</td>
                            <td class="text-center">
                                <notpresent name="node.children">
                                    <div class="click_edit"  data-name="{$node.code}" data-value="{$data->$node['code']|default='-'}">{$data->$node['code']|default='-'}</div>
                                </notpresent>
                            </td>

                        </tr>
                    </volist>
                    <else/>
                    <td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
                </notempty>

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<include file="Public/foot"/>
</body>
</html>

