<title>天津市训竞网络服务管理平台</title>

<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<meta name="renderer" content="webkit">
<!-- CSS Global Compulsory-->
<link rel="stylesheet" href="__UNIFY__/plugins/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="__UNIFY__/css/style.css">
<link rel="stylesheet" href="__UNIFY__/css/headers/header1.css">
<link rel="stylesheet" href="__UNIFY__/css/responsive.css">
<!--<link rel="shortcut icon" href="favicon.ico">        -->
<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="__UNIFY__/plugins/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="__UNIFY__/plugins/flexslider/flexslider.css">
<link rel="stylesheet" href="__UNIFY__/plugins/parallax-slider/css/parallax-slider.css">
<!-- CSS Theme -->
<link rel="stylesheet" href="__UNIFY__/css/themes/default.css" id="style_color">
<link rel="stylesheet" href="__UNIFY__/css/plugins.css" >
<link rel="stylesheet" href="__CSS__/am.min.css" />