<!--合作单位-->
<div class="headline"><h2>{:CC('LINK_GROUP','p-3')}</h2></div>
<ul class="list-unstyled blog-photos margin-bottom-30">
    <volist name=":get_link('p-3')" id="info">
        <li><a target="_blank" href="{$info.url}"><img  style="height: 50px;width: 102px" class="hover-effect" alt="{$info.name}" src="{$info.picture}"></a></li>
    </volist>
</ul>
<!--网上办事-->
<div class="headline"><h2>{:cat_field(61,'name')}</h2></div>
<div class="row">
    <ul class="list-unstyled col-xs-12">
        <volist name=":lists(61,'0,10')" id="info">
            <li><a href="{$info['url']}" data-color="{$info.list_color}">{$info['title']|msubstr=0,20}</a>
            </li>
        </volist>
    </ul>
</div>



