<!--快速通道-->
<div class="headline"><h2>{:CC('LINK_GROUP','p-2')}</h2></div>
<ul class="list-unstyled blog-photos margin-bottom-30">
    <volist name=":get_link('p-2')" id="info">
        <li><a target="_blank" href="{$info.url}"><img  style="height: 50px;width: 102px" class="hover-effect" alt="{$info.name}" src="{$info.picture}"></a></li>
    </volist>
</ul>
<!--服务台-->
<div class="headline"><h2>{:CC('LINK_GROUP','a-3')}</h2></div>
<div class="row">
    <ul class="list-unstyled col-xs-6">
        <volist name=":get_link('a-3',0,3)" id="info">
            <li><a target="_blank" href="{$info.url}">{$info.name}</a></li>
        </volist>
    </ul>
    <ul class="list-unstyled col-xs-6">
        <volist name=":get_link('a-3',4,7)" id="info">
            <li><a target="_blank" href="{$info.url}">{$info.name}</a></li>
        </volist>
    </ul>
</div>
<!--合作单位-->
<div class="headline"><h2>{:CC('LINK_GROUP','p-3')}</h2></div>
<ul class="list-unstyled blog-photos margin-bottom-30">
    <volist name=":get_link('p-3')" id="info">
         <li><a target="_blank" href="{$info.url}"><img  style="height: 50px;width: 102px" class="hover-effect" alt="{$info.name}" src="{$info.picture}"></a></li>
    </volist>
</ul>
<!--外部链接-->
<div class="headline"><h2>{:CC('LINK_GROUP','t-1')}</h2></div>
<div class="row">
    <ul class="list-unstyled col-xs-6">
        <volist name=":get_link('t-1',0,5)" id="info">
            <li><a target="_blank" href="{$info.url}">{$info.name}</a></li>
        </volist>
    </ul>
    <ul class="list-unstyled col-xs-6">
        <volist name=":get_link('t-1',6,5)" id="info">
            <li><a target="_blank" href="{$info.url}">{$info.name}</a></li>
        </volist>
    </ul>
</div>
