<!-- Photo Stream -->
<div class="headline"><h2>登陆</h2></div>
<form id="login_form" action="post">
    <h4 class="error_tip text-center" style="color: red"></h4>
    <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="icon-user"></i></span>
        <input type="text" name="username" placeholder="用户名" class="form-control">
    </div>
    <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="icon-lock"></i></span>
        <input type="password" name="password" placeholder="密码" class="form-control">
    </div>
    <div class="input-group margin-bottom-10" >
        <input type="text" placeholder="验证码" name="verify" maxlength="4" class="form-control">
                 <span class="input-group-addon" style="padding:0"><img alt="验证码" id="captcha-img" title="点击更新" src="/tyj/Admin/Public/verify.html">
                </span>
    </div>
    <div class="row">
        <!--<div class="col-md-6">-->
            <!--<label class="checkbox"><input name="remember" type="checkbox">记住我</label>-->
        <!--</div>-->
        <div class="col-md-12">
            <a style="width: 100%;text-align: center"  class="btn-u pull-right" id="login_btn">登陆</a>
        </div>
    </div>
    <hr>
</form>