<extend name="public/base"/>
<block name="content">
<!--=== Content Part ===-->
<div class="container">
<div class="row magazine-page" style="margin-top: 10px">
    <!--Magazine Slider-->
    <div class="col-md-7 carousel-wapper">
        <div class="carousel  slide carousel-v1 margin-bottom-20" id="myCarousel-1">
            <div class="carousel-inner">
                <volist name=":position(3)" id="vo">
                    <div class="item <eq name='i' value='1'>active</eq>">
                        <present name="vo.cover_path">
                            <a href="{$vo.url}"><img style="height: 215px;width:100%" alt="{$vo.title}" src="{$vo.cover_path}"></a>
                            <else/>
                            <a href="{$vo.url}"> <img style="height: 215px;width:100%" alt="{$vo.title}" src="__DEFAULT__"/></a>
                        </present>
                        <div class="carousel-caption">
                            <p><a href="{$vo.url}" style="color: #ffffff">{$vo.title}</a></p>
                        </div>
                    </div>
                </volist>
            </div>
            <div class="carousel-arrow">
                <a data-slide="prev" href="#myCarousel-1" class="left carousel-control">
                    <i class="icon-angle-left"></i>
                </a>
                <a data-slide="next" href="#myCarousel-1" class="right carousel-control">
                    <i class="icon-angle-right"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="col-md-5">
        <div class="tab-v1">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">{:cat_field(50,'name')}</a></li>
                <li><a href="#profile" data-toggle="tab">{:cat_field(54,'name')}</a></li>
                <li><a href="#messages" data-toggle="tab">热点关注</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                        <ul class="list-unstyled">
                            <volist name=":lists(50,'0,6')" id="info">
                               <li><a href="{$info['url']}" data-color="{$info.list_color}">{$info['title']|msubstr=0,20}</a>
                                   <div class="pull-right">{$info.create_time|date='Y-m-d',###}</div>
                               </li>
                            </volist>
                        </ul>
                </div>
                <div class="tab-pane" id="profile">
                    <ul class="list-unstyled">
                    <volist name=":lists(54,'0,6')" id="info">
                        <li><a href="{$info['url']}" data-color="{$info.list_color}">{$info['title']|msubstr=0,20}
                        </a>
                            <div class="pull-right">{$info.create_time|date='Y-m-d',###}</div>
                        </li>
                    </volist>
                     </ul>
                </div>
                <div class="tab-pane" id="messages">
                    <ul class="list-unstyled">
                    <volist name=":api('Document/hot_list')" id="info">
                        <li><a href="{$info['url']}" data-color="{$info.list_color}"> {$info['title']|msubstr=0,20}</a>
                            <div class="pull-right">{$info.create_time|date='Y-m-d',###}</div>
                        </li>
                    </volist>
                     </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row magazine-page">
<div class="col-md-3">
 <include file="block/index_left"/>
</div>
<!-- Begin Content -->
<div class="col-md-6">
    <div class="margin-bottom-10"></div>
    <div class="tab-v2 tab-v2-red">
        <ul class="nav nav-tabs">
            <!--赛事安排-->
            <li  class="active"><a href="#p2" data-toggle="tab">{:cat_field(52,'name')}</a></li>
            <!--训练动态-->
            <li><a href="#p1" data-toggle="tab">{:cat_field(53,'name')}</a></li>
            <!--运动项目-->
            <li><a href="#p3" data-toggle="tab">{:cat_field(55,'name')}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="p2">
                <ul class="list-unstyled">
                    <volist name=":lists(52,'0,6')" id="info">
                        <li><a href="{$info['url']}" data-color="{$info.list_color}">{$info['title']|msubstr=0,30}
                        </a>
                            <div class="pull-right">{$info.create_time|date='Y-m-d',###}</div>
                        </li>
                    </volist>
                </ul>
            </div>
            <div class="tab-pane " id="p1">
                <ul class="list-unstyled">
                    <volist name=":lists(53,'0,6')" id="info">
                        <li><a href="{$info['url']}" data-color="{$info.list_color}">{$info['title']|msubstr=0,30}
                        </a>
                            <div class="pull-right">{$info.create_time|date='Y-m-d',###}</div>
                        </li>
                    </volist>
                </ul>
            </div>
            <div class="tab-pane" id="p3">
                <ul class="list-unstyled">
                    <volist name=":lists(55,'0,6')" id="info">
                        <li><a href="{$info['url']}" data-color="{$info.list_color}">{$info['title']|msubstr=0,30}
                        </a>
                            <div class="pull-right">{$info.create_time|date='Y-m-d',###}</div>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
    </div>
    <hr/>
    <div class="tab-v2 tab-v2-yellow">
        <ul class="nav nav-tabs">
            <!--机构职能-->
            <li class="active"><a href="#p8" data-toggle="tab">{:cat_field(58,'name')}</a></li>
            <!--职能评估-->
            <li><a href="#p9" data-toggle="tab">{:cat_field(60,'name')}</a></li>
            <!--网上办事-->
            <li><a href="#p10" data-toggle="tab">{:cat_field(61,'name')}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="p8">
                <ul class="list-unstyled">
                    <volist name=":lists(58,'0,6')" id="info">
                        <li><a href="{$info['url']}" data-color="{$info.list_color}">{$info['title']|msubstr=0,20}
                        </a>
                            <div class="pull-right">{$info.create_time|date='Y-m-d',###}</div>
                        </li>
                    </volist>
                </ul>
            </div>
            <div class="tab-pane" id="p9">
                <ul class="list-unstyled">
                    <volist name=":lists(60,'0,6')" id="info">
                        <li><a href="{$info['url']}" data-color="{$info.list_color}">{$info['title']|msubstr=0,20}
                        </a>
                            <div class="pull-right">{$info.create_time|date='Y-m-d',###}</div>
                        </li>
                    </volist>
                </ul>
            </div>
            <div class="tab-pane" id="p10">
                <ul class="list-unstyled">
                    <volist name=":lists(61,'0,6')" id="info">
                        <li><a href="{$info['url']}" data-color="{$info.list_color}">{$info['title']|msubstr=0,20}
                        </a>
                            <div class="pull-right">{$info.create_time|date='Y-m-d',###}</div>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
    </div>
    <hr/>
    <div class="tab-v2 tab-v2-blue">
        <ul class="nav nav-tabs">
            <!--党的建设-->
            <li class="active"><a href="#p11" data-toggle="tab">{:cat_field(83,'name')}</a></li>
            <!--廉政建设-->
            <li><a href="#p12" data-toggle="tab">{:cat_field(84,'name')}</a></li>
            <!--党员活动-->
            <li><a href="#p13" data-toggle="tab">{:cat_field(69,'name')}</a></li>
            <!--学习园地-->
            <li><a href="#p14" data-toggle="tab">{:cat_field(71,'name')}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="p11">
                <ul class="list-unstyled">
                    <volist name=":lists(83,'0,6')" id="info">
                        <li><a href="{$info['url']}" data-color="{$info.list_color}">{$info['title']|msubstr=0,20}
                        </a>
                            <div class="pull-right">{$info.create_time|date='Y-m-d',###}</div>
                        </li>
                    </volist>
                </ul>
            </div>
            <div class="tab-pane" id="p12">
                <ul class="list-unstyled">
                    <volist name=":lists(84,'0,6')" id="info">
                        <li><a href="{$info['url']}" data-color="{$info.list_color}">{$info['title']|msubstr=0,20}
                        </a>
                            <div class="pull-right">{$info.create_time|date='Y-m-d',###}</div>
                        </li>
                    </volist>
                </ul>
            </div>
            <div class="tab-pane" id="p13">
                <ul class="list-unstyled">
                    <volist name=":lists(69,'0,6')" id="info">
                        <li><a href="{$info['url']}" data-color="{$info.list_color}">{$info['title']|msubstr=0,20}
                        </a>
                            <div class="pull-right">{$info.create_time|date='Y-m-d',###}</div>
                        </li>
                    </volist>
                </ul>
            </div>
            <div class="tab-pane" id="p14">
                <ul class="list-unstyled">
                    <volist name=":lists(71,'0,6')" id="info">
                        <li><a href="{$info['url']}" data-color="{$info.list_color}">{$info['title']|msubstr=0,20}
                        </a>
                            <div class="pull-right">{$info.create_time|date='Y-m-d',###}</div>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
    </div>

</div>
<!-- End Content -->

<!-- Begin Sidebar -->
<div class="col-md-3">
    <include file="block/index_right"/>
</div>
<!-- End Sidebar -->
</div>
</div><!--/container-->
<!-- End Content Part -->
</block>
<block name="js">
    <script  type="text/javascript">
        var captcha_url = "{:U('verify')}";
        $("#captcha-img").attr("src", captcha_url);
        //更换验证码
        $("#captcha-img").click(function () {
            $(this).attr("src", captcha_url);
        });
        $("#login_btn").click(function(){
            if(checkForm($("input[name='username']"),'用户名') &&
                    checkForm($("input[name='password']"),'密码')&&
                    checkForm($("input[name='verify']"),'验证码')){
                $.post("{:U('login')}", $("#login_form").serialize(),function(data){
                    if(data.status){
                        location.href="{:U('index')}";
                    }else{
                        $(".error_tip").empty().text(data.msg);
                        $("#captcha-img").click();
                        shake('.error_tip');
                    }
                },'json');
            }
        });

        function  checkForm(ele,text){
            if($(ele).val() === ''){
                shake($(ele).parent());
                $(".error_tip").empty().text(text+'不能为空!');
                $(ele).focus();
                return false;
            }else{
                return true;
            }
        }

        $("input[name=verify]").keyup(function(e) {
            if (e.keyCode === 13) {
                $("#login_btn").click();
                return false;
            }
        });

        !function(){
            var $window = $(window);
            $window.resize(function(){
                $("#main").css("min-height", $window.height() - 210);
            }).resize();
        }();
    </script>
</block>


